mixin img(img__path, img__classname="img-fluid", img__itemprop=false)
  if (img__itemprop)
    img(class=img__classname src=`/img/${img__path}` alt="" title="" itemprop="image")
  else
    img(class=img__classname src=`/img/${img__path}` alt="" title="")

mixin svg(svg__name, svg__classname="icon-fluid")
  svg(class=svg__classname)
    use(xlink:href=`/img/icons/icons.svg#icon-${svg__name}`)

mixin icon(icon__name, icon__classname)
  if (icon__classname)
    span(class=`ds-icon-${icon__name} ${icon__classname} pointer-events-none`)
  else
    span(class=`ds-icon-${icon__name} pointer-events-none`)

mixin radio(radio__index=1, radio__title, radio__checked, radio__name="filter-radio", radio__labelclassmod)
  input.form__toggler.form__toggler_radio(id=`filter-radio-${radio__index}` name=radio__name type="radio" value="" checked=radio__checked)
  label.form__label.h5(class=radio__labelclassmod for=`filter-radio-${radio__index}`)!= radio__title

mixin leftmenu(leftmenu__title, leftmenu__icon, leftmenu__badge, leftmenu__badge_text, leftmenu__badge_extratext=false)
  a.leftmenu__item.d-flex.align-items-center.h4(href="https://don-shina.ru")
    +icon(leftmenu__icon, 'leftmenu__item-icon h3 color-theme-brand mr-2')
    span.leftmenu__item-title.d-block.overflow-hidden.text-nowrap.mr-2!= leftmenu__title
    if (leftmenu__badge_text)
      span.leftmenu__badge.h5.text-nowrap.color-theme-white.px-2(class=leftmenu__badge)!= leftmenu__badge_text
        if (leftmenu__badge_extratext)
          span.leftmenu__badge-text Б.₽.

mixin slidesNav(slidesNav__prev="slides-carousel-prev", slidesNav__next="slides-carousel-next", slidesNav__classmod)
  .slides__nav(class=slidesNav__classmod)
    button.slides__btn.slides__btn_prev(class=slidesNav__prev type="button")
      +icon('arrow-left')
    button.slides__btn.slides__btn_next(class=slidesNav__next type="button")
      +icon('arrow-right')

mixin brand(brand__title, brand__classmod, brand__title_classmod, brand__img="content/logo/logo-1.jpg")
  a.brand(class=brand__classmod href="#")
    +img(brand__img)
    if (brand__title !== '')
      span.brand__title(class=brand__title_classmod)!= brand__title

mixin banner(banner__img, banner__noshadow=false, banner__classmod="card_sm", banner__title="Запись на шиномонтаж онлайн")
  .card.overflow-hidden.h-100(class=banner__classmod)
    if (banner__noshadow)
      .banner.banner_noshadow.overflow-hidden
        +img(banner__img,'img-cover')
        .banner__inner.d-flex.flex-column.align-items-center.justify-content-between.px-3.py-4
          .banner__title.h1.font-weight-bold.color-theme-brand!= banner__title
          a.button.text-uppercase(href="#") Записаться
    else
      a.card__picture.h-100(href="#")
        +img(banner__img,'img-cover')

mixin card(card__price_old, card__price_new, card__title="Зимние шины Yokohama Ice", card__label, card__warranty=false, card__credit=false, card__card=false, card__delivery=false, card__repair=false, card__winter=true, card__spikes=true, card__oneclick=false, card__classmod="d-flex", card__img="content/cards/card-1.jpg", card__wheel=false, card__params=false, card__params_arr={'Ширина':185,'Высота':55,'Диаметр':16}, card__params_notitle=false)
  if (card__oneclick)
    case (card__classmod === 'card_tile d-sm-flex')
      when true
        - var card__oneclick_offset = 'mb-sm-3';
      when false
        - var card__oneclick_offset = 'mb-3';

  if (card__price_new)
    - var card__price_classmod = 'align-items-end';

  if (card__classmod === 'card_tile d-sm-flex')
    - var card__header_offset = 'mb-sm-3';
  else
    - var card__header_offset = 'mb-3';

  if (card__params)
    - var card__params_offset = 'mb-4';

  .card.flex-column.justify-content-between.h-100.p-3(class=card__classmod itemscope itemtype="http://schema.org/Product")
    span.d-none(itemtype="http://schema.org/AggregateOffer" itemscope itemprop="offers")
      meta(itemprop="availability" content="http://schema.org/InStock")
      meta(itemprop="priceCurrency" content="RUB")
      meta(itemprop="price" content="7337.12")
      //- самая низкая цена в категории
      meta(itemprop="lowPrice" content="100")
    .card__header(class=card__header_offset)
      a.card__picture.mb-2(href="#")
        +img(card__img, 'img-fluid', true)
      .card__meta.card__meta_left
        if (card__label === 'discount')
          .label.label_discount.text-uppercase.px-2 Скидка
        else if (card__label === 'sale')
          .label.label_sale.text-uppercase.px-2 Акция
        else if (card__label === 'hit')
          .label.label_hit.text-uppercase.px-2 Хит
        .card__features.card__features_col.zi-2
          if (card__warranty)
            .card__features-item
              span.card__features-icon.h4.d-flex.flex-column.align-items-center.justify-content-center.bg-theme-info
                +icon('shield')
              span.card__features-title.bg-theme-info Расширеная гарантия
          if (card__credit)
            .card__features-item
              span.card__features-icon.h4.d-flex.flex-column.align-items-center.justify-content-center.bg-theme-disabled
                +icon('credit')
              span.card__features-title.bg-theme-disabled Кредит
          if (card__card)
            .card__features-item
              span.card__features-icon.h4.d-flex.flex-column.align-items-center.justify-content-center.bg-theme-warning
                +icon('card')
              span.card__features-title.bg-theme-warning Топливная карта
          if (card__delivery)
            .card__features-item
              span.card__features-icon.h4.d-flex.flex-column.align-items-center.justify-content-center
                +icon('delivery')
              span.card__features-title Бесплатная доставка
          if (card__repair)
            .card__features-item
              .card__features-content.bg-theme-success
                .d-flex.align-items-center.pointer-events-none
                  span.card__features-icon.h4.d-flex.flex-column.align-items-center.justify-content-center.bg-theme-success
                    +icon('repair')
                  span.card__features-title.bg-theme-success Бесплатный шиномотаж
                .card__features-text
                  p Акция действует при покупке комплекта шин за наличные (от 4 шт.)
                  p При наличии на Доватора 11
                a.card__features-readmore(href="#") Подробнее
      .card__meta.card__meta_right
        button.card__btn.card__btn_icon.zi-2(type="button")
          +icon('compare','card__btn-icon h4 d-flex flex-column align-items-center justify-content-center')
          span.card__btn-title Сравнить
        button.card__btn.card__btn_icon.zi-2(type="button")
          +icon('favourite','card__btn-icon h4 d-flex flex-column align-items-center justify-content-center')
          span.card__btn-title Добавить в избранное
      if (!card__wheel)
        .card__meta.card__meta_row.mb-0
          if (card__winter) && (card__spikes)
            .card__features
              if (card__winter)
                .icon-marker.mr-2
                  +icon('winter','h4')
              if (card__spikes)
                .icon-marker
                  +icon('spikes','h4')
          .card__params.flex-grow-1.text-right.color-theme-brand 215 / 55  R16
    .card__body.d-flex.flex-column.justify-content-between.flex-grow-1(class=card__params_offset)
      .card__intro
        a.card__title.d-block.mb-2(href="#" itemprop="url")
          span(itemprop="name")!= card__title
      .card__footer
        .card__meta.card__meta_row.mb-2(class=card__price_classmod)
          .card__price
            span.card__price-value 7 337.12
            | ₽
          if (card__price_old)
            .card__price.card__price_old!= card__price_old
              | ₽

          if (card__price_new)
            .d-flex.flex-column
              .card__price.card__price_new!= card__price_new
                | ₽
              .text-sm при сдаче старого
        .d-flex.align-items-center.justify-content-between.zi-2(class=card__oneclick_offset)
          .recalculate.d-flex.align-items-center.flex-grow-1.overflow-hidden.bg-theme-brand.mr-1
            input.recalculate__field.d-none(type="number" name="count" value="4")
            button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_remove(type="button") -
            .recalculate__value.d-flex.align-items-center.justify-content-center.color-theme-white 4
            button.recalculate__btn.font-weight-bold.color-theme-white.flex-grow-1.recalculate__btn_add(type="button") +
          button.button.text-uppercase(type="button") В корзину
        if (card__oneclick)
          button.card__btn.card__btn_link.w-100.zi-2(type="button")
            +icon('plane','h4 color-theme-brand d-flex flex-column align-items-center justify-content-center mr-1')
            | Купить в один клик
    if (card__params)
      .params
        each card__params_val,card__params_index in card__params_arr
          if (card__params_notitle)
            .params__row.d-flex.flex-column.justify-content-end
              .params__title.h6.invisible!= card__params_index
              .params__value.h5!= card__params_val
          else
            .params__row.d-flex.flex-column.justify-content-end
              .params__title.h6.color-theme-disabled!= card__params_index
              .params__value.h5!= card__params_val
